RAILS_ENV=production
RAILS_MASTER_KEY={{ rails_master_key }}
PUMA_BIND=unix:///home/deploy/apps/trivia/shared/tmp/sockets/puma.sock
PIDFILE=/home/deploy/apps/trivia/shared/tmp/pids/puma.pid
SOLID_QUEUE_IN_PUMA=true
RAILS_MAX_THREADS=5
